<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.mlkit.sample">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:requestLegacyExternalStorage="true"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- bace -->
        <activity android:name=".activity.BaseActivity" />
        <!-- setting -->
        <activity android:name=".activity.SettingActivity" />
        <!-- face -->
        <activity
            android:name=".activity.face.FaceDetectionActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.face3d.Live3DFaceAnalyseActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" />
        <!-- HumanSkeleton -->
        <activity
            android:name=".activity.skeleton.HumanSkeletonActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.skeleton.TemplateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <!--LivenessDetection-->
        <activity android:name=".activity.livenessdetection.HumanLivenessDetectionActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".activity.livenessdetection.LivenessCustomDetectionActivity"
            android:screenOrientation="portrait"
            ></activity>
        <!--HandKeypoint-->
        <activity
            android:name=".activity.handkeypoint.HandKeypointImageActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.handkeypoint.HandKeypointActivity"
            android:screenOrientation="portrait"
            />

        <!--Gesture-->
        <activity
            android:name=".activity.gesture.GestureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.gesture.GestureImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.facecompare.FaceVerificationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_file_provider" />
        </provider>
    </application>

</manifest>