<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.mlkit.sample.custom">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/icon_launcher"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name="com.huawei.mlkit.sample.activity.CustModelActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.huawei.mlkit.sample.activity.CustModelLabelActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:process="com.huawei.mlkit.sample.custom.label"
            android:resizeableActivity="false"></activity>
        <activity
            android:name="com.huawei.mlkit.sample.activity.SettingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:resizeableActivity="false"></activity>

        <activity
            android:name="com.huawei.mlkit.sample.activity.CustModelObjectActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:exported="true"
            android:launchMode="singleTask"
            android:process="com.huawei.mlkit.sample.custom.object"
            android:resizeableActivity="false"></activity>

    </application>

</manifest>