<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.mlkit.sample">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:requestLegacyExternalStorage="true"
        android:label="ML Vision"
        android:supportsRtl="true"
        android:theme="@style/MaterialTheme">
        <activity
            android:name=".activity.imageclassfication.ImageClassificationActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false" />
        <activity
            android:name=".activity.object.ObjectDetectionActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RemoteDetectionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.imageseg.ImageSegmentationActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.imageseg.LoadPhotoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation" />

        <activity
            android:name=".activity.imageseg.LoadHairActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation" />

        <activity
            android:name=".activity.imageseg.TakePhotoActivity"
            android:resizeableActivity="false" />

        <activity
            android:name=".activity.imageseg.StillCutPhotoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation" />

        <activity
            android:name=".activity.Imagesupersesolution.ImageSuperResolutionStartActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.Imagesupersesolution.ImageSuperResolutionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>

        <activity
            android:name=".activity.textsuperresolution.TextImageSuperResolutionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"></activity>


        <activity
            android:name=".activity.scenedection.SceneStartActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.scenedection.SceneDectionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <activity android:name=".activity.table.TableRecognitionStartActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"
            />
        <activity android:name=".activity.table.TableRecognitionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".activity.documentskew.DocumentSkewCorretionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.documentskew.DocumentSkewStartActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_file_provider" />
        </provider>
        <meta-data
            android:name="com.huawei.hms.ml.DEPENDENCY"
            android:value="object,ocr,face,label,icr,imgseg,imageSuperResolution" />

    </application>

</manifest>