<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huawei.mlkit.sample">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.huawei.mlkit.asr.permission" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <permission
        android:name="com.huawei.mlkit.asr.permission"
        android:label="ASR" />

    <application
        android:name=".common.MyApp"
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="ML Text"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/MaterialTheme">
        <activity android:name=".activity.textemdding.TextEmbeddingActivity" />
        <activity android:name=".activity.docdetection.DocDetectionResultActivity" />
        <activity android:name=".activity.icr.IDCardActivity"></activity>
        <activity
            android:name=".activity.translate.TranslateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.tts.TtsAudioActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.tts.TtsAnalyseActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ocr.TextRecognitionActivity"
            android:launchMode="singleTask"
            android:resizeableActivity="false" />
        <activity
            android:name=".activity.docdetection.RemoteDetectionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.translate.RemoteTranslateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.translate.LocalTranslateActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.asr.AsrActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.asr.AsrAudioActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <activity
            android:name=".activity.icr.IDCardRecognitionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.icr.VNIdCardRecognitionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.gcr.GeneralCardRecognitionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.bcr.BankCardRecognitionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.aft.AudioFileTranscriptionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.sounddect.SoundDectActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.asrlong.RealTimeTranscriptionActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|keyboardHidden|orientation"
            android:launchMode="singleTask" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/apk_file_provider" />
        </provider>

        <meta-data
            android:name="com.huawei.hms.ml.DEPENDENCY"
            android:value="object,ocr,face,label,icr,imgseg,translate,langdetect" />
    </application>

</manifest>